button:not(#exculde-button){
    position: absolute;
   
    
    
    
    font-size: 16px;
    padding: 16px 30px;
    margin-left: 0px;
    margin-right: 300px;
    margin-top: 0px;
    margin-left: 0px;
    border-color: antiquewhite;
    border: solid;
    border-width: 2px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    height: 200px;
    background-color: white;
    color: black;
    border-color: black;
    opacity: 0.6;
    font-weight: bold;
    
   

}
button:hover:not(#exclude-button){
    
    background: transparent;
    color: white;
    border-color: antiquewhite;
    font-weight: bold;
    
}
body{
    background-image: url(image3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar ul{
    list-style-type:none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    
}
.navbar a:hover{
    background-color:  rgb(51, 51, 51);
    cursor: pointer;
}
.navbar li{
    float: left;
}
.navbar2 ul{
    list-style-type: none;
    background-color: grey;
    padding:0px;
    margin:0px;
    margin-right: 0px;
}

.navbar2 a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: left;
    margin-right: 0px;
}
.navbar2 a:hover{
    background-color:  rgb(51, 51, 51);
    cursor: pointer;
}
form{
    background: #fff;;
    width: 600px;
    height: 55px;
    display: flex;
    border-radius: 30px;
}
form input{
    flex:1;
    border:none;
    outline: none;
    border-radius: 30px;
}
form button{
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 200px;
}
form .fa-search{
    align-self: center;
    padding: 10px 20px;
    color:#777;
}
.civil{
    
    top: 15%;
    left: 20%;
    
}
.criminal{
    
    top: 15%;
    left: 40%;
    

}
.reg{
    
    top: 15%;
    left: 60%;
    

}
.spec{
    
    top: 50%;
    left: 30%;
    padding-bottom: 0px;
    
}
.inte{
    top:50%;
    left:55%;
    padding-bottom: 0px;

}
